<h2>Login here</h2>
<div class="form_div">
    <form method="post" action="/login"> <!-- Corrected form action -->
        <input name="username" type="text" placeholder="Enter username"><br>
        <input type="password" name="password" placeholder="Enter password"><br>
        <button type="submit" style="background-color: #333; color: #fff; border: none; cursor: pointer; padding: 10px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#0056b3'" onmouseout="this.style.backgroundColor='#333'">log in</button>

    </form>
    <p>Don't have an account <a href="/signup">Sign Up</a></p> <!-- Corrected link for signup -->
</div>