<div class="form_section">
<div class="form_section">
<h2>Sign Up Here</h2>
<div class="form_div">
    <form id="signupForm" method="post" action="/signup">
        <input name="username" id="username" type="text" placeholder="Enter username" required><br>
        <input name="email" id="email" type="email" placeholder="Enter email" required><br>
        <input type="password" name="password" id="password" placeholder="Enter password" required><br>
        <!-- Ensure the button is inside the form -->
        <button id="signupButton" type="submit" >Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</div>
</div>
</div>