<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
    <a class="navbar-brand" href="/blogs">Blog Website</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1">Creat Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">blogs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Join</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Signup">Sign Up</a></li>
          <li><a class="dropdown-item" href="/login">Login</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
        </ul>
      </li>
    </ul>
    </nav>